* {
  margin: 0;
  padding: 0;
}

header {
  background: blue;
  display: block;
}

app-logo {
  width: 30%;
  /*height: 270px;*/
  /*background: green;*/
  display: block;
  /*background: url("../../assets/logo.png") no-repeat;*/
}
