<nav class="navbar navbar-collapse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/agenda" routerLinkActive="active-link" id="logo">Ordered Movies</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/agenda" routerLinkActive="selected">What's on the agenda?</a></li>
      <li><a routerLink="/filterByDateAndName" routerLinkActive="active-link">Filter by Date&Name</a></li>
      <li><a routerLink="/filterByName" routerLinkActive="active-link">Filter by Name</a></li>
      <!--<li><a routerLink="/page2" routerLinkActive="active-link">Filter by Date</a></li>-->
      <!--<li><a routerLink="/page3" routerLinkActive="active-link">Page 3</a></li>-->
    </ul>
  </div>
</nav>
