/* You can add global styles to this file, and also import other style files */

body {
  background: url("assets/tv2.jpg") no-repeat;
  background-size: cover;
  color: lightcoral;
}

* {
  color: #333333;
  font-family: Arial, 'cursive';
  padding: 0px;
  margin: 0px;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Bangers', cursive;
}

#moviesBoxes {
  /*list-style-type: none;*/
  list-style-image: url('assets/movie.png');
  font-size: 15px;
  display: block;
  border: 3px solid #333333;
  width: 300px;
  margin: 5px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.6);
}

h2 {
  font-family: 'Bangers', cursive;
  margin-left: 15px;
}

p, #moviesBoxes > li {
  margin-left: 35px;
  font-size: 20px;
}
