<h1>Filter By Date and Name</h1>
<div id="holder">
  <select class="form-control" [(ngModel)] = "movieDate">
    <option disabled selected>Choose a Date</option>
    <option value="2017-05-07">2017-05-07</option>
    <option value="2017-05-06">2017-05-06</option>
    <option value="2017-05-05">2017-05-05</option>
  </select>
  <select class="form-control" [(ngModel)] = "movieName">
    <option disabled selected>Choose a Name</option>
    <option value="Titanic1">Titanic1</option>
    <option value="Titanic2">Titanic2</option>
    <option value="Titanic4">Titanic4</option>
    <option value="Titanic5">Titanic5</option>
    <option value="Titanic6">Titanic6</option>
  </select>
  <span class="glyphicon glyphicon-search" (click)="getMovieByInfo(movieDate, movieName)"></span>
</div>

<ul class="tile col-md-5" *ngFor="let movie of films" id="moviesBoxes">
  <h2>Movies Released On {{ movie.date }}</h2>
  <li class="title-news">{{ movie.movie['id'] }} - {{ movie.movie['name'] }}</li>
</ul>
